<script>
  let name = "Shan";
  let beltColour = "Blue";
  const changeColor = () => {
    beltColour = "orange";
  };
  $: {
    console.log(beltColour);
  }
</script>

<h1>Hello {name}!</h1>
<input type="text" bind:value={beltColour} />
<button on:click={changeColor}>Orange Belt</button>
<p style="color: {beltColour}">
  {beltColour} belt
</p>

<style>
  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }
</style>
