<script>
  import { onMount } from "svelte";

  let photos = [];

  onMount(async () => {
    const res = await fetch(
      "https://jsonplaceholder.typicode.com/photos?_limit=20"
    );
    photos = await res.json();
  });
</script>

<div class="outerDiv">
  {#each photos as photo}
    <figure>
      <img src={photo.thumbnailUrl} alt="asd" />
      <figcaption>{photo.title}</figcaption>
    </figure>
  {/each}
</div>

<style>
  .outerDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  figure {
    width: 160px;
  }
</style>
