<script>
  let timer;
  let loader = "Search for movies";
  let movieLists = [];
  const handleClick = (value) => {
    if (value.length > 0) {
      loader = "loading...";
      clearTimeout(timer);
      timer = setTimeout(async () => {
        loader = "";
        const res = await fetch(
          `https://api.themoviedb.org/3/search/movie/?api_key=4006c4895513b56d7fc37e456f6d2553&query=${value}`
        );
        const resp = await res.json();
        resp.total_results === 0 ? (loader = "No movies found!") : "";
        movieLists = resp.results;
        //   console.log(movieLists);
      }, 2000);
    }
    if (value.length == 0) {
      loader = "Search for movies";
      movieLists = [];
    }
    // _debounce(async (movies) => {
    //   const res = await fetch(
    //     `https://jsonplaceholder.typicode.com/posts/${movies}`
    //   );
    //   const resp = res.json();
    //   console.log(resp);
    // }, 600);
  };
</script>

<h1>Movies</h1>
<input type="text" on:keyup={({ target: { value } }) => handleClick(value)} />
<!-- <button>Search</button> -->
<br />
<br />
{#if movieLists.length > 0}
  <div class="outerDiv">
    {#each movieLists as item}
      <div class="innerDiv">
        <img
          src={item.poster_path
            ? `https://image.tmdb.org/t/p/w500${item?.poster_path}`
            : `https://s3-ap-southeast-1.amazonaws.com/upcode/static/default-image.jpg`}
          alt=""
          width="100%"
          height="auto"
        />
        <h4>{item.title}</h4>
      </div>
    {/each}
  </div>
{:else}<div>{loader}</div>
{/if}

<style>
  .outerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
  }
  .innerDiv {
    width: 200px;
    height: 400px;
    border: 1px solid springgreen;
    margin: 20px;
  }
</style>
