<script>
  const people = [
    { name: "abc", div: "asd" },
    { name: "abc", div: "asd" },
    { name: "abc", div: "asd" },
  ];
  let users = [];
  async function fetchUser() {
    const res = await fetch("https://randomuser.me/api");
    const resp = await res.json();
    users = resp.results;
  }
</script>

<h1>RandomUser</h1>
<div class="outerDiv">
  {#each users as user}
    <div class="usersss">
      <img src={user.picture.large} alt="user" />
      <h3>{user.name.title} {user.name.first} {user.name.last}</h3>
      <p>{user.email}</p>
    </div>
  {/each}
</div>
<div>
  {#each people as item}
    <span>{item.name}</span>
    <span>{item.div}</span>
  {/each}
</div>
<br />
<button on:click={fetchUser}>Fetch User</button>

<style>
  img {
    border-radius: 50%;
  }
  .outerDiv {
    display: flex;
    flex-wrap: wrap;
  }
  .usersss {
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 30px;
  }
  p {
    color: blue;
  }
</style>
