<script>
  let firstName = "Rudrax";
  let lastName = "Variya";
  $: fullName = `${firstName}  ${lastName}`;
  $: {
    console.log(fullName);
  }
</script>

<h2>{firstName}</h2>
<input type="text" bind:value={firstName} />
<input type="text" bind:value={lastName} />
<h1>{fullName}</h1>

<style>
</style>
