<script>
  // import Binding from "./components/Binding.svelte";
  // import Reactive from "./components/Reactive.svelte";
  // import RandomUser from "./components/RandomUser.svelte";
  import Lifecycles from "./components/Lifecycles.svelte";
  import MovieList from "./components/MovieList.svelte";
</script>

<main>
  <!-- <Binding />
  <Reactive /> -->
  <!-- <RandomUser /> -->
  <MovieList />
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }
  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
